Source: hyperbolic-series
Maintainer: Naremay <petrrenkoo@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: hyperbolic-series
Architecture: amd64
Description: A program that calculates hyperbolic series
